<footer class="site-footer">
  <div class="site-wrapper">
    <!-- Bottom bar -->
    <div class="site-footer-bottom">
      <span>&copy; {{ now.Year }} {{- with .Site.Params.website }} <a href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ $.Site.Params.authorName }}</a>{{- end }} — {{ i18n "all_rights_reserved" }}</span>
    </div>
  </div>
</footer>

{{- if and .Site.Params.googleAnalyticsID .Site.Params.enableCookieConsent }}
<!-- Cookie Consent Script -->
{{ partial "cookie-consent-script.html" . }}
{{- end }}
