```html
{{ define "main" }}
<div class="home-latest-section">
  <div class="home-latest-header">
    <p class="home-section-title">Posts</p>
  </div>

  <div class="home-post-list">
    <ul class="post-list">
      {{- $posts := where .Site.RegularPages "Section" "posts" -}}
      {{- range $posts -}}
      <li class="post-list-item">
        <div class="post-list-header">
          <h2 class="post-list-title">{{ .Title }}</h2>
          <div class="post-list-meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format $.Site.Params.dateFormat }}
            </time>
            <span class="post-list-reading">{{ .ReadingTime }} min</span>
          </div>
        </div>

        <div class="post-list-content">
          {{ .Content }}
        </div>
      </li>
      {{- end -}}
    </ul>
  </div>
</div>
{{ end }}